
body{

    font-family: "Arial", Times, sans-serif;;
    margin:0px;
}

#msg{text-align: center;
    
    font-size: 120%;
    color: #ffffff;
    margin-top: 5%;   
}

.titulo{text-align: center;
    
    font-size: 350%;
    color: #ffffff;
    margin-top: 10%;   
}
.turma{
    margin-top:15%;
    color: #ffffff;

    font-size: 230%;
    text-align: right;
    margin-right: 50px;
    font-style: italic;
   
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    width: 50%;
    
}

#header{
    width:100%;
    border: 0.5px solid #bebebe;
    background-color: #595e96;
    height: 50%;

}

#body{
    height:30%;
    border: 0.5px solid #bebebe;
    background-color: #cd4d00;

}

.rec{
    
    width: 50%;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 200%;
    color:#cd4d00;
    margin: 2%;
    padding: 8%;
    text-align: center;
}



.retangulo{
    margin:1%;
    display: flex;
}

#footer{
    height:20%;
    border: 1px solid #bebebe;
    background-color: #d7d7d7;

}
.formulario{
    
    margin:10%;
    width: 60%;
    height:25%;
    
    
}
.button{
    border-width: 1,5px;
    border-style: solid;
    border-color: black;
    width: 25%;
    height: 100%;
    padding: 2%;
    background-color: #cd4d00;
    color: #ffffff;
    margin-left: -6px;

}

input{
    padding: 2%;
    border-width: 1,5px;
    border-style: solid;
    border-color: black;
    width: 70%;
    height: 100%;
    font-weight: bold;
    font-size: 250% ;
}

