
body{

    font-family: "Arial", Times, sans-serif;;
    margin:0px;
}

.titulo{text-align: center;
    
    font-size: 350%;
    color: #ffffff;
    margin-top: 10%;   
}
.turma{
    margin-top:15%;
    color: #ffffff;

    font-size: 230%;
    text-align: right;
    margin-right: 50px;
    font-style: italic;
   
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    width: 50%;
    
}

#header{
    width:100%;
    border: 0.5px solid #bebebe;
    background-color: #595e96;
    height: 50%;

}

#body{
    height:20%;
    border: 0.5px solid #bebebe;
    background-color: #cd4d00;

}

.rec{
    width: 20%;
    height: 15%;
    background-color: #ffffff;
}

.lingua{ 

  

  
    font-weight: bold;
    font-size: 250%;
    color:#cd4d00;


}

.retangulo{
    
    margin-top: 10%;
}

#footer{
    height:50%;
    border: 1px solid #bebebe;
    background-color: #d7d7d7;

}
.formulario{

    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
    height:25%;
    
    
}
.button{
    border-width: 1,5px;
    border-style: solid;
    border-color: black;
    width: 20%;
    height: 100%;
    background-color: #cd4d00;
    color: #ffffff;
    margin-left: -6px;

}

input{
    border-width: 1,5px;
    border-style: solid;
    border-color: black;
    width: 79%;
    height: 100%;
    font-weight: bold;
    font-size: 250% ;
}

